
* {
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 400;
    font-style: normal;
}

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 100vw; /* full viewport width */
    height: calc(100vw * (16 / 9)); /* maintain 9:16 aspect ratio */
    max-height: 100vh; /* full viewport height */
    max-width: calc(100vh * (9 / 16));
    padding: 20px;
    border-radius: 10px;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* overflow-y: auto;   */
}

.game-container {
    display: none;
    margin-top: 10%;
    overflow: auto;
    text-align: left;
}

#choices {
        
    display: flex;
    flex-direction: column; /* Arrange buttons in a column */
    align-items: center; /* Center the buttons horizontally */
    gap: 10px; /* Space between the buttons */
    margin-top: 2rem; /* Space above the choices container */
    }

#form {
    display: flex;
    flex-direction: column; /* Arrange buttons in a column */
    align-items: center; /* Center the buttons horizontally */
    gap: 10px; /* Space between the buttons */
    margin-top: 2rem; /* Space above the choices container */
}

#story-text {
    white-space: pre-wrap;
    line-height: 140%;
    margin-bottom: 1rem; /* Space above the choices container */
    padding-bottom: 5rem;   
}
